---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
    title="About"
    description="Engineering Manager and Technical Leader specializing in Ruby on Rails, based in Ho Chi Minh City."
    pubDate={new Date('November 27 2025')}
    heroImage={AboutHeroImage}
>
	<p>
		Hello, my name is Khanh. I am an Engineering Manager and Technical Leader based in Ho Chi Minh City, with expertise in Ruby on Rails.
	</p>

	<p>
		I am currently employed at Raksul, where I lead technical teams and drive engineering initiatives.
	</p>

	<p>
		Outside of work, I have a keen interest in reading, cinema, and exploring emerging technologies. You are welcome to connect with me on LinkedIn.
	</p>
</Layout>